html, body{
    height: 100%;
    overflow: hidden;
}

.imc-main, #calculator{
    height: 90%;
}


body{
    position: relative;
    background-image: url("../imgs/dmi-calculator-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
}

body::after{
    content: "";
    position: absolute;
    background: var(--bg-color-after);
    z-index: -1;
    inset: 0;
}


.second-header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 5.5rem;
    gap: 0.65rem;
}


.back-anchor{
    margin-left: 1rem;
}


.main-name h2{
    color: rgb(41, 61, 151);
    font-size: 1.75rem;
}

.main-name h2 span{
    color: rgb(8, 131, 63);
    font-size: 1.75rem;
}

.second-header p{
    font-weight: 600;
}

.toggle-container button{
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

#calculator{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.calculator-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0 5rem;
    backdrop-filter: blur(8px);
    border-radius: 15px;
}

.calculator-title{
    margin-bottom: .3rem;
}

.form #imcForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.65rem;
}

.input-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.input-container input{
    padding: 0.85rem;
    background: transparent;
    border-radius: 20px;
    outline: none;
    font-family: "Montserrat", sans-serif;
}

.input-container input::placeholder{
    font-family: "Montserrat", sans-serif;
}

#calculator h1{
    padding: 2rem 0.5rem 3.5rem 1rem;
    font-size: 30px;
}

label{
    font-weight: 600;
}

.button-container button{
    border: 20px;
    font-family: "Montserrat", sans-serif;
    padding:  .85rem 2.5rem .85rem;
    margin-top: 1rem;
    background: none;
    cursor: pointer;
    border-radius: 20px;
}

#result{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    
}

@media (min-width: 280px) and (max-width: 450px){
    .toggle-container{
        margin-right: 1rem;
    }
}

@media (min-width: 280px) and (max-width: 300px){
    .calculator-container{
        width: 85%;
    }

}

@media (min-width: 768px){
    .calculator-container{
        width: 40%;
    }

    .input-container input{
        width: 100%;
    }
} 

@media (min-width: 768px) and (max-width: 1028px){
   .second-header .main-name, .main-slogan{
    margin-right: 10rem;
}

    .toggle-container{
        margin-right: 0;
    }

    .main-name{
        margin-left: 1.5rem;
    }
}

@media (min-width: 1028px){
    .second-header .main-name, .main-slogan{
        margin-right: 10rem;
    }

}

