html, body{
    height: 100%;
}

.second-header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 5.5rem;
    gap: .65rem;
    z-index: 999;
}

.back-anchor{
    margin-left: 1rem;
}

.main-name h2{
    font-size: 1.75rem;
    color: rgb(41, 61, 151);
}

.main-name h2 span{
    font-size: 1.75rem;
    color: rgb(8, 131, 63);
}

.main-slogan{
    font-weight: 600;
}

.toggle-container{
    margin-right: .65rem;
}

.toggle-container button{
    border: none;
    background: none;
    cursor: pointer;
}

main{
    position: relative;
    min-height: 100%;
    background-image: url('../imgs/mental-health-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
}

main::after{
    content: "";
    position: absolute;
    inset: 0;
    background: var(--bg-color-after);
    z-index: -1;
}


.presentation{
    padding: 8rem 2.5rem 2.5rem 2.5rem;
}

.presentation h1{
    font-size: 33px;
    margin-bottom: 1rem;
}

.presentation p{
    font-weight: 600;
    font-size: 22px;
}

.tips{
    padding-left: 2.5rem;
}

.tip-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    font-weight: 500;
    font-size: 1rem;
    width: 85%;
    padding: 1.5rem 2rem 2rem;
    border-radius: 15px;
    animation: DodgeRight 2s ease-in forwards;
}

.tips-container{
   padding-top: 1.5rem;
}

.tip-list .tip-item span{
    font-weight: 600;
    font-size: 1.1rem;
}

.diary{
    padding: 2.5rem 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.diary-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.25rem;
}

.buttons #diaryButton , #resetButton{
    padding: 1.25rem;
    width: 150px;
    border-radius: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: all 0.3s;
    cursor: pointer;
}

#diaryInput{
    font-family: 'Montserrat', sans-serif;
    padding: 0.5rem;
    resize: none;
    overflow: hidden;
    width: 500px;
    height: 200px;
}

#diaryInput::placeholder{
    font-family: 'Montserrat', sans-serif;
}

#lastSaved{
    font-weight: 600;
    font-size: 20px;
}

.notations{
    padding: 2rem 0;
}

#entries li{
    font-weight: 600;
}

#entries{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.test{
    padding: 2rem 3.5rem 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.test .test-title{
    padding: 2rem;
    text-align: center;
}

.form-container{
    width: 50%;
    font-weight: 500;
    padding: 2rem 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 16px;
}

#testButton{
    padding: 1rem;
    width: 180px;
    border-radius: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: all 0.3s;
    cursor: pointer;
}


.custom-radio{
    display: flex;
    gap: 0.25rem;
    margin-top: 0.5rem;
}

.custom-radio input{
    display: none;
}

.custom-radio span{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;
}

.custom-radio span::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: all 0.3s
}

.custom-radio input:checked + span:after{
    transform: translate(-50%, -50%) scale(1.05);
}

.custom-radio span:hover{
    transform: scale(1.15);
}

#testResult{
    padding: 2rem 1rem 1rem;
    font-weight: 600;
    text-align: center;
}

#testResult p{
    font-size: 16px;
}

#testResult a{
    text-decoration: none;
    cursor: pointer;
}
#testResult a:hover{
    text-decoration: underline;
    
}


@keyframes DodgeRight{
    0%{
        transform: translateX(0);
        opacity: 0
    }

    50%{
        transform: translateX(50px);
        opacity: .5;
    }

    100%{
        transform: translateX(50px);
        opacity: 1;
    }
}

@media (min-width: 280px) and (max-width: 350px){
    .tip-list .tip-item span{
        font-size: 1rem;
    }

    #diaryInput{
        width: 250px;
    }

    .buttons #diaryButton, #resetButton{
        width: 100px;
    }
}

@media (min-width: 280px) and (max-width: 710px){
    @keyframes DodgeRight{
    0%{
        opacity: 0
    }

    50%{
        opacity: .5;
    }

    100%{
        opacity: 1;
    }
 }
}

@media (min-width: 350px) and (max-width: 550px){
    #diaryInput{
        width: 300px;
    }

}

@media (min-width: 280px) and (max-width: 550px){
    .form-container{
        width: auto;
        padding: 1.5rem;
    }
}

@media (min-width: 550px) and (max-width: 800px){
    .form-container{
        width: 75%;
    }
}